[submodule "cmsis-core"]
	path = cmsis/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core.git
[submodule "cmsis-device-f1"]
	path = cmsis/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1.git
[submodule "cmsis-device-f4"]
	path = cmsis/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "cmsis-device-f7"]
	path = cmsis/cmsis-device-f7
	url = https://github.com/STMicroelectronics/cmsis-device-f7.git
[submodule "cmsis-device-h5"]
	path = cmsis/cmsis-device-h5
	url = https://github.com/STMicroelectronics/cmsis-device-h5.git
[submodule "cmsis-device-h7"]
	path = cmsis/cmsis-device-h7
	url = https://github.com/STMicroelectronics/cmsis-device-h7.git
[submodule "stm32f1xx-hal-driver"]
	path = drivers/stm32f1xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver.git
[submodule "stm32f4xx-hal-driver"]
	path = drivers/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver.git
[submodule "stm32f7xx-hal-driver"]
	path = drivers/stm32f7xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f7xx-hal-driver.git
[submodule "stm32h5xx-hal-driver"]
	path = drivers/stm32h5xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32h5xx-hal-driver.git
[submodule "stm32h7xx-hal-driver"]
	path = drivers/stm32h7xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32h7xx-hal-driver.git
