choice
	prompt "CPU Model"
	depends on CPU_SERIES_STM32H5XX

config CPU_MODEL_STM32H503XX
	bool "STM32H503XX"

config CPU_MODEL_STM32H523XX
	bool "STM32H523XX"

config CPU_MODEL_STM32H533XX
	bool "STM32H533XX"

config CPU_MODEL_STM32H562XX
	bool "STM32H562XX"

config CPU_MODEL_STM32H563XX
	bool "STM32H563XX"

config CPU_MODEL_STM32H573XX
	bool "STM32H573XX"

endchoice

choice
	prompt "Platform models"
	depends on CPU_SERIES_STM32H5XX

source "arch/arm/mach-stm/stm32h5xx/kconfig-platform"

endchoice

