choice
	prompt "CPU Series with STMicroelectronics"
	depends on CPU_MACH_ST

config CPU_SERIES_STM32F1XX
	bool "STM32F1XX"

config CPU_SERIES_STM32F4XX
	bool "STM32F4XX"

config CPU_SERIES_STM32F7XX
	bool "STM32F7XX"

config CPU_SERIES_STM32H5XX
	bool "STM32H5XX"

config CPU_SERIES_STM32H7XX
	bool "STM32H7XX"

endchoice

source "arch/arm/mach-stm/stm32f1xx/Kconfig"
source "arch/arm/mach-stm/stm32f4xx/Kconfig"
source "arch/arm/mach-stm/stm32f7xx/Kconfig"
source "arch/arm/mach-stm/stm32h5xx/Kconfig"
source "arch/arm/mach-stm/stm32h7xx/Kconfig"
