choice
	prompt "CPU Model"
	depends on CPU_SERIES_STM32H7XX

config CPU_MODEL_STM32H723XX
	bool "STM32H723XX"

config CPU_MODEL_STM32H725XX
	bool "STM32H725XX"

config CPU_MODEL_STM32H730XX
	bool "STM32H730XX"

config CPU_MODEL_STM32H730XXQ
	bool "STM32H730XXQ"

config CPU_MODEL_STM32H733XX
	bool "STM32H733XX"

config CPU_MODEL_STM32H735XX
	bool "STM32H735XX"

config CPU_MODEL_STM32H742XX
	bool "STM32H742XX"

config CPU_MODEL_STM32H743XX
	bool "STM32H743XX"

config CPU_MODEL_STM32H745XG
	bool "STM32H745XG"

config CPU_MODEL_STM32H745XX
	bool "STM32H745XX"

config CPU_MODEL_STM32H747XG
	bool "STM32H747XG"

config CPU_MODEL_STM32H747XX
	bool "STM32H747XX"

config CPU_MODEL_STM32H750XX
	bool "STM32H750XX"

config CPU_MODEL_STM32H753XX
	bool "STM32H753XX"

config CPU_MODEL_STM32H755XX
	bool "STM32H755XX"

config CPU_MODEL_STM32H757XX
	bool "STM32H757XX"

config CPU_MODEL_STM32H7A3XX
	bool "STM32H7A3XX"

config CPU_MODEL_STM32H7A3XXQ
	bool "STM32H7A3XXQ"

config CPU_MODEL_STM32H7B0XX
	bool "STM32H7B0XX"

config CPU_MODEL_STM32H7B0XXQ
	bool "STM32H7B0XXQ"

config CPU_MODEL_STM32H7B3XX
	bool "STM32H7B3XX"

config CPU_MODEL_STM32H7B3XXq
	bool "STM32H7B3XXq"

endchoice

choice
	prompt "Platform models"
	depends on CPU_SERIES_STM32H7XX

source "arch/arm/mach-stm/stm32h7xx/kconfig-platform"

endchoice

